@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}

:root {
  --font-family-nanito: "Nanito", serif;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Nanito", serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nanito", serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  -webkit-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

/*!
 *  owfont-regular 1.0.0 by Deniz Fuchidzhiev - http://websygen.com
 *  License - font: SIL OFL 1.1, css: MIT License
 */

/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: "owfont";
  src: url("../assets/fonts/owfont-regular.eot?v=1.0.0");
  src: url("../assets/fonts/owfont-regular.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("../assets/fonts/owfont-regular.woff") format("woff"), url("../assets/fonts/owfont-regular.ttf") format("truetype"), url("../assets/fonts/owfont-regular.svg#owf-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.owf {
  display: inline-block;
  font: normal normal normal 14px/1 owfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */

.owf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.owf-2x {
  font-size: 2em;
}

.owf-3x {
  font-size: 3em;
}

.owf-4x {
  font-size: 4em;
}

.owf-5x {
  font-size: 5em;
}

.owf-fw {
  width: 1.28571429em;
  text-align: center;
}

.owf-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.owf-ul > li {
  position: relative;
}

.owf-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.owf-li.owf-lg {
  left: -1.85714286em;
}

.owf-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eeeeee;
  border-radius: 0.1em;
}

.owf-pull-right {
  float: right;
}

.owf-pull-left {
  float: left;
}

.owf.owf-pull-left {
  margin-right: 0.3em;
}

.owf.owf-pull-right {
  margin-left: 0.3em;
}

/* owfont uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

/*   Weather Condition Codes    */

/*   Thunderstorm - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* thunderstorm with light rain */

.owf-200:before,
.owf-200-d:before,
.owf-200-n:before {
  content: "\EB28";
}

/* thunderstorm with rain */

.owf-201:before,
.owf-201-d:before,
.owf-201-n:before {
  content: "\EB29";
}

/* thunderstorm with heavy rain */

.owf-202:before,
.owf-202-d:before,
.owf-202-n:before {
  content: "\EB2A";
}

/*  light thunderstorm  */

.owf-210:before,
.owf-210-d:before,
.owf-210-n:before {
  content: "\EB32";
}

/*  thunderstorm  */

.owf-211:before,
.owf-211-d:before,
.owf-211-n:before {
  content: "\EB33";
}

/*   heavy thunderstorm   */

.owf-212:before,
.owf-212-d:before,
.owf-212-n:before {
  content: "\EB34";
}

/*   ragged thunderstorm   */

.owf-221:before,
.owf-221-d:before,
.owf-221-n:before {
  content: "\EB3D";
}

/*  thunderstorm with light drizzle    */

.owf-230:before,
.owf-230-d:before,
.owf-230-n:before {
  content: "\EB46";
}

/*  thunderstorm with drizzle     */

.owf-231:before,
.owf-231-d:before,
.owf-231-n:before {
  content: "\EB47";
}

/* thunderstorm with heavy drizzle     */

.owf-232:before,
.owf-232-d:before,
.owf-232-n:before {
  content: "\EB48";
}

/*   Drizzle - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/*  light intensity drizzle */

.owf-300:before,
.owf-300-d:before,
.owf-300-n:before {
  content: "\EB8C";
}

/*  drizzle */

.owf-301:before,
.owf-301-d:before,
.owf-301-n:before {
  content: "\EB8D";
}

/*  heavy intensity drizzle  */

.owf-302:before,
.owf-302-d:before,
.owf-302-n:before {
  content: "\EB8E";
}

/*   light intensity drizzle rain  */

.owf-310:before,
.owf-310-d:before,
.owf-310-n:before {
  content: "\EB96";
}

/*  drizzle rain  */

.owf-311:before,
.owf-311-d:before,
.owf-311-n:before {
  content: "\EB97";
}

/* heavy intensity drizzle rain */

.owf-312:before,
.owf-312-d:before,
.owf-312-n:before {
  content: "\EB98";
}

/* shower rain and drizzle  */

.owf-313:before,
.owf-313-d:before,
.owf-313-n:before {
  content: "\EB99";
}

/* heavy shower rain and drizzle*/

.owf-314:before,
.owf-314-d:before,
.owf-314-n:before {
  content: "\EB9A";
}

/* shower drizzle */

.owf-321:before,
.owf-321-d:before,
.owf-321-n:before {
  content: "\EBA1";
}

/*   Rain - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* light rain  */

.owf-500:before,
.owf-500-d:before,
.owf-500-n:before {
  content: "\EC54";
}

/* moderate rain  */

.owf-501:before,
.owf-501-d:before,
.owf-501-n:before {
  content: "\EC55";
}

/* heavy intensity rain  */

.owf-502:before,
.owf-502-d:before,
.owf-502-n:before {
  content: "\EC56";
}

/* very heavy rain   */

.owf-503:before,
.owf-503-d:before,
.owf-503-n:before {
  content: "\EC57";
}

/* extreme rain    */

.owf-504:before,
.owf-504-d:before,
.owf-504-n:before {
  content: "\EC58";
}

/* freezing rain    */

.owf-511:before,
.owf-511-d:before,
.owf-511-n:before {
  content: "\EC5F";
}

/*  light intensity shower rain    */

.owf-520:before,
.owf-520-d:before,
.owf-520-n:before {
  content: "\EC68";
}

/* shower rain  */

.owf-521:before,
.owf-521-d:before,
.owf-521-n:before {
  content: "\EC69";
}

/*  heavy intensity shower rain  */

.owf-522:before,
.owf-522-d:before,
.owf-522-n:before {
  content: "\EC6A";
}

/* ragged shower rain  */

.owf-531:before,
.owf-531-d:before,
.owf-531-n:before {
  content: "\EC73";
}

/*   Snow - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* light snow  */

.owf-600:before,
.owf-600-d:before,
.owf-600-n:before {
  content: "\ECB8";
}

/*  snow  */

.owf-601:before,
.owf-601-d:before,
.owf-601-n:before {
  content: "\ECB9";
}

/*   heavy snow   */

.owf-602:before,
.owf-602-d:before,
.owf-602-n:before {
  content: "\ECBA";
}

/*  sleet  */

.owf-611:before,
.owf-611-d:before,
.owf-611-n:before {
  content: "\ECC3";
}

/*   shower sleet */

.owf-612:before,
.owf-612-d:before,
.owf-612-n:before {
  content: "\ECC4";
}

/* light rain and snow */

.owf-615:before,
.owf-615-d:before,
.owf-615-n:before {
  content: "\ECC7";
}

/* rain and snow  */

.owf-616:before,
.owf-616-d:before,
.owf-616-n:before {
  content: "\ECC8";
}

/* light shower snow  */

.owf-620:before,
.owf-620-d:before,
.owf-620-n:before {
  content: "\ECCC";
}

/* shower snow  */

.owf-621:before,
.owf-621-d:before,
.owf-621-n:before {
  content: "\ECCD";
}

/* heavy shower snow  */

.owf-622:before,
.owf-622-d:before,
.owf-622-n:before {
  content: "\ECCE";
}

/*   Atmosphere - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* mist */

.owf-701:before,
.owf-701-d:before,
.owf-701-n:before {
  content: "\ED1D";
}

/* smoke */

.owf-711:before,
.owf-711-d:before,
.owf-711-n:before {
  content: "\ED27";
}

/* haze */

.owf-721:before,
.owf-721-d:before,
.owf-721-n:before {
  content: "\ED31";
}

/* Sand/Dust Whirls */

.owf-731:before,
.owf-731-d:before,
.owf-731-n:before {
  content: "\ED3B";
}

/* Fog */

.owf-741:before,
.owf-741-d:before,
.owf-741-n:before {
  content: "\ED45";
}

/* sand */

.owf-751:before,
.owf-751-d:before,
.owf-751-n:before {
  content: "\ED4F";
}

/* dust */

.owf-761:before,
.owf-761-d:before,
.owf-761-n:before {
  content: "\ED59";
}

/*  VOLCANIC ASH  */

.owf-762:before,
.owf-762-d:before,
.owf-762-n:before {
  content: "\ED5A";
}

/* SQUALLS */

.owf-771:before,
.owf-771-d:before,
.owf-771-n:before {
  content: "\ED63";
}

/* TORNADO */

.owf-781:before,
.owf-781-d:before,
.owf-781-n:before {
  content: "\ED6D";
}

/*   Clouds - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/*  sky is clear  */

/*  Calm  */

.owf-800:before,
.owf-800-d:before,
.owf-951:before,
.owf-951-d:before {
  content: "\ED80";
}

.owf-800-n:before,
.owf-951-n:before {
  content: "\F168";
}

/*  few clouds   */

.owf-801:before,
.owf-801-d:before {
  content: "\ED81";
}

.owf-801-n:before {
  content: "\F169";
}

/* scattered clouds */

.owf-802:before,
.owf-802-d:before {
  content: "\ED82";
}

.owf-802-n:before {
  content: "\F16A";
}

/* broken clouds  */

.owf-803:before,
.owf-803-d:before,
.owf-803-n:before {
  content: "\ED83";
}

/* overcast clouds  */

.owf-804:before,
.owf-804-d:before,
.owf-804-n:before {
  content: "\ED84";
}

/*   Extreme - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* tornado  */

.owf-900:before,
.owf-900-d:before,
.owf-900-n:before {
  content: "\EDE4";
}

/*  tropical storm  */

.owf-901:before,
.owf-901-d:before,
.owf-901-n:before {
  content: "\EDE5";
}

/* hurricane */

.owf-902:before,
.owf-902-d:before,
.owf-902-n:before {
  content: "\EDE6";
}

/* cold */

.owf-903:before,
.owf-903-d:before,
.owf-903-n:before {
  content: "\EDE7";
}

/* hot */

.owf-904:before,
.owf-904-d:before,
.owf-904-n:before {
  content: "\EDE8";
}

/* windy */

.owf-905:before,
.owf-905-d:before,
.owf-905-n:before {
  content: "\EDE9";
}

/* hail */

.owf-906:before,
.owf-906-d:before,
.owf-906-n:before {
  content: "\EDEA";
}

/*   Additional - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */

/* Setting */

.owf-950:before,
.owf-950-d:before,
.owf-950-n:before {
  content: "\EE16";
}

/*  Light breeze  */

.owf-952:before,
.owf-952-d:before,
.owf-952-n:before {
  content: "\EE18";
}

/*  Gentle Breeze  */

.owf-953:before,
.owf-953-d:before,
.owf-953-n:before {
  content: "\EE19";
}

/*  Moderate breeze  */

.owf-954:before,
.owf-954-d:before,
.owf-954-n:before {
  content: "\EE1A";
}

/* Fresh Breeze  */

.owf-955:before,
.owf-955-d:before,
.owf-955-n:before {
  content: "\EE1B";
}

/* Strong  Breeze  */

.owf-956:before,
.owf-956-d:before,
.owf-956-n:before {
  content: "\EE1C";
}

/* High wind, near gale  */

.owf-957:before,
.owf-957-d:before,
.owf-957-n:before {
  content: "\EE1D";
}

/* Gale */

.owf-958:before,
.owf-958-d:before,
.owf-958-n:before {
  content: "\EE1E";
}

/*  Severe Gale  */

.owf-959:before,
.owf-959-d:before,
.owf-959-n:before {
  content: "\EE1F";
}

/* Storm */

.owf-960:before,
.owf-960-d:before,
.owf-960-n:before {
  content: "\EE20";
}

/*  Violent Storm  */

.owf-961:before,
.owf-961-d:before,
.owf-961-n:before {
  content: "\EE21";
}

/* Hurricane */

.owf-962:before,
.owf-962-d:before,
.owf-962-n:before {
  content: "\EE22";
}

.page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 120px;
}

.play-list {
  position: relative;
  text-align: left;
  overflow: hidden;
  overflow-y: visible;
  height: 0px;
  max-width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 0px 0px 0px 20px;
}

.play-list.active {
  height: 100px;
}

.play-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.play-list-button {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  margin: 0px 5px 0px 0px;
  background-image: url("../assets/img/svg/playlist.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.play-list-button:hover {
  opacity: 1;
}

.play-item {
  padding: 5px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../assets/img/svg/play.svg");
  background-size: contain;
  position: absolute;
  border-radius: 50%;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.play-item::after {
  content: "";
  width: 15px;
  height: 15px;
  background-size: contain;
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  left: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.item-active {
  color: #c5b358;
}

.item-active::before {
  -webkit-filter: invert(66%) sepia(13%) saturate(1308%) hue-rotate(13deg) brightness(202%) contrast(102%);
          filter: invert(66%) sepia(13%) saturate(1308%) hue-rotate(13deg) brightness(202%) contrast(102%);
}

.item-active.playing::before {
  background-image: url("../assets/img/svg/pause.svg");
  background-size: contain;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/img/svg/play.svg");
}

.play-volume.toggle {
  opacity: 0.2;
}

.play-volume.toggle:hover {
  opacity: 0.2;
}

.pause {
  background-image: url("../assets/img/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/img/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/img/svg/play-next.svg");
}

.player {
  max-width: 270px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
}

.player-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player.hide {
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}

.volume-player {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  max-width: 100%;
  overflow: hidden;
  -webkit-transition: width 1s, opacity 0.3s;
  -o-transition: width 1s, opacity 0.3s;
  transition: width 1s, opacity 0.3s;
  opacity: 0.8;
}

.volume-player:hover {
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  opacity: 1;
  width: 100%;
}

.volume-player.toggle {
  opacity: 0.2;
}

#soundVolume {
  max-width: 70px;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #c5b358), color-stop(40%, #c5b358), color-stop(0%, #c4c4c4), to(#c4c4c4));
  background: -o-linear-gradient(left, #c5b358 40%, #c5b358 40%, #c4c4c4 0%, #c4c4c4 100%);
  background: linear-gradient(to right, #c5b358 40%, #c5b358 40%, #c4c4c4 0%, #c4c4c4 100%);
  height: 6px;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

#soundVolume:active {
  cursor: pointer;
}

#soundVolume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  cursor: ew-resize;
  background: #c5b358;
  border: 0px;
}

#soundVolume::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  appearance: none;
  cursor: ew-resize;
  background: #c5b358;
  border: 0px;
}

#soundVolume::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -moz-appearance: none;
       appearance: none;
  cursor: ew-resize;
  background: #c5b358;
  border: 0px;
}

.track-name {
  margin: 10px 0px 0px;
  font-size: 20px;
  opacity: 0.8;
  height: 20px;
}

.timer-header {
  color: #c5b358;
}

.duration-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px 10px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.duration-player:hover {
  opacity: 1;
}

.duration-timer {
  margin: 0px 0px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#timer {
  margin: 0px 5px 0px 0px;
  min-width: 31.2px;
}

#duration {
  margin: 0px 0px 0px 5px;
  min-width: 31.2px;
}

#soundProgress {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#c5b358), color-stop(0%, #c5b358), color-stop(0%, #c4c4c4), to(#c4c4c4));
  background: -o-linear-gradient(left, #c5b358 0%, #c5b358 0%, #c4c4c4 0%, #c4c4c4 100%);
  background: linear-gradient(to right, #c5b358 0%, #c5b358 0%, #c4c4c4 0%, #c4c4c4 100%);
  height: 6px;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

#soundProgress:active {
  cursor: pointer;
}

#soundProgress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
          appearance: none;
  cursor: ew-resize;
  background: #c5b358;
  border: 0px;
}

#soundProgress::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  appearance: none;
  cursor: ew-resize;
  background: #c5b358;
  border: 0px;
}

#soundProgress::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -moz-appearance: none;
       appearance: none;
  cursor: ew-resize;
  background: #c5b358;
  border: 0px;
}

.muteButton {
  margin-right: 5px;
}

.play-volume {
  background-image: url("../assets/img/svg/volume.svg");
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.play-volume:hover {
  opacity: 1;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 5px;
  max-width: 180px;
  min-height: 150px;
  text-align: left;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}

.weather-wrap {
  padding: 0px 0px 0px 20px;
}

.weather.russian {
  max-width: 230px;
}

.weather.hide {
  visibility: hidden;
  opacity: 0;
}

.weather-error {
  width: 100%;
  text-align: center;
  display: none;
}

.weather-error.active {
  display: block;
}

.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-icon {
  font-size: 50px;
}

.city {
  padding: 5px;
  font-size: 20px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 100%;
  margin: 0px 0px 0px 10px;
}

.city-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city::-webkit-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.city::-moz-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.city:-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.city::-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.temperature {
  position: relative;
  margin: 0px 5px 0px 0px;
}

.temperature::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../assets/img/svg/temperature.svg");
  background-size: contain;
  opacity: 0.5;
  display: none;
}

.wind {
  position: relative;
}

.wind::before {
  content: "";
  position: absolute;
  top: calc(50% - 17px);
  left: -45px;
  width: 30px;
  height: 30px;
  background-image: url("../assets/img/svg/wind.svg");
  background-size: contain;
  opacity: 0.5;
  display: none;
}

.humidity {
  position: relative;
}

.humidity::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: -35px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/svg/humidity.svg");
  background-size: contain;
  opacity: 0.5;
  display: none;
}

.weather.error .temperature,
.weather.error .wind,
.weather.error .humidity,
.weather.error .weather-description {
  display: none;
}

.weather-description {
  text-align: center;
  word-wrap: break-word;
  font-size: 18px;
  max-width: 80px;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
  pointer-events: none;
}

.slider-icons,
.time,
.date,
.greeting-container {
  pointer-events: visible;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/img/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/img/svg/slider-next.svg");
}

.slide-prev.disabled,
.slide-next.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  -webkit-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
  visibility: visible;
  opacity: 1;
}

.time.hide {
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  -webkit-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
  visibility: visible;
  opacity: 1;
}

.date.hide {
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}

.greeting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  -webkit-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
  visibility: visible;
  opacity: 1;
}

.greeting-container.hide {
  visibility: hidden;
  opacity: 0;
}

.greeting {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.name::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}

.name:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.name::-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.change-quote {
  margin-bottom: 10px;
  background-image: url("../assets/img/svg/reload.svg");
}

.change-quote.rotate {
  -webkit-animation: rotate360 1s linear;
          animation: rotate360 1s linear;
}

.space {
  color: transparent;
}

.quote {
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 1;
  line-height: 22px;
}

.quotes-wrap {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}

.quote-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote-container {
  overflow: hidden;
  overflow-y: visible;
  max-height: 120px;
}

.quote-print {
  min-height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 26px;
  font-family: "owfont", serif;
  font-weight: thin;
  -webkit-animation: ease-in-out print 1s infinite;
          animation: ease-in-out print 1s infinite;
}

.quote-print.end {
  display: none;
}

.quote.hide {
  -webkit-animation: hide linear 1s;
          animation: hide linear 1s;
}

.quote.show {
  -webkit-animation: show linear 2s;
          animation: show linear 2s;
}

.author {
  min-height: 20px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 1;
  line-height: 32px;
}

.author.hide {
  -webkit-animation: hide linear 2s;
          animation: hide linear 2s;
}

.author.show {
  -webkit-animation: show linear 2s;
          animation: show linear 2s;
}

.quotes-wrap {
  margin-bottom: 15px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 1s, opacity 1s;
  -o-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  max-height: 150px;
}

.quotes-wrap.hide {
  -webkit-transition: visibility 0.3s, opacity 0.3s;
  -o-transition: visibility 0.3s, opacity 0.3s;
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}

.github-api,
.unsplash-api,
.flickr-api {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  text-align: left;
}

.github-api:hover,
.unsplash-api:hover,
.flickr-api:hover {
  opacity: 1;
  color: #c5b358;
}

.github-api.active,
.unsplash-api.active,
.flickr-api.active {
  opacity: 1;
  color: #a79644;
}

.github-api::after,
.unsplash-api::after,
.flickr-api::after {
  content: "";
  position: absolute;
  right: 75px;
  width: 15px;
  height: 15px;
  top: calc(50% - 7.5px);
  border-radius: 50%;
  background-color: #818181;
  z-index: 3;
  opacity: 0.9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.github-api::before,
.unsplash-api::before,
.flickr-api::before {
  content: "";
  position: absolute;
  right: 55px;
  width: 40px;
  height: 19px;
  top: calc(50% - 9.5px);
  border-radius: 25px;
  background-color: #fff;
  opacity: 0.7;
  z-index: 2;
}

.github-api.active::after,
.unsplash-api.active::after,
.flickr-api.active::after {
  opacity: 1;
  right: 60px;
  background-color: #a79644;
}

.github-api.active::before,
.unsplash-api.active::before,
.flickr-api.active::before {
  opacity: 1;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.footer-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.footer-settings {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-settings::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  width: 2px;
  border-radius: 50%;
  background-color: #a79644;
}

.footer-lang {
  font-size: 22px;
  font-weight: 700;
}

.footer-lang .eng {
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-lang .eng:hover {
  color: #494220;
  opacity: 1;
}

.footer-lang .eng.active {
  opacity: 1;
  color: #a79644;
}

.footer-lang .rus {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.footer-lang .rus:hover {
  color: #c5b358;
  opacity: 1;
}

.footer-lang .rus.active {
  opacity: 1;
  color: #a79644;
}

.footer-body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  max-width: 350px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-body .footer__text {
  color: #fff;
}

.footer__logo {
  width: 80px;
  background-image: url("../assets/img/svg/rs-logo.svg");
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__logo:hover {
  opacity: 1;
}

.settings-wrap {
  position: absolute;
  bottom: 0px;
  left: 55px;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 0.3s, visibility 0.3s, bottom 0.5s;
  -o-transition: opacity 0.3s, visibility 0.3s, bottom 0.5s;
  transition: opacity 0.3s, visibility 0.3s, bottom 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  padding: 20px;
}

.settings-wrap.active {
  bottom: 60px;
  visibility: visible;
  opacity: 1;
}

.settings-container {
  width: 100%;
  height: 100%;
}

.settings-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 0px 25px 0px;
}

.settings-top::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  height: 2px;
  border-radius: 50%;
  background-color: #a79644;
}

.settings-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.settings-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.settings-tittle {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  padding: 0px 0px 20px 0px;
}

.settings-tittle.main-tittle {
  padding: 0px 0px 10px 0px;
}

.settings-subtittle {
  color: #c5b358;
  font-size: 17px;
  opacity: 0.6;
  margin: 0px 0px 5px 0px;
}

.settings-block {
  width: 100%;
  text-align: left;
  padding-left: 40px;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  opacity: 0.9;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.settings-block:hover {
  opacity: 1;
  color: #c5b358;
}

.settings-block.active {
  opacity: 1;
  color: #a79644;
}

.settings-block.active:hover {
  color: #818181;
}

.settings-block.active:hover::after {
  background-color: #818181;
}

.settings-block::after {
  content: "";
  position: absolute;
  right: 55px;
  width: 15px;
  height: 15px;
  top: calc(50% - 7.5px);
  border-radius: 50%;
  background-color: #818181;
  z-index: 3;
  opacity: 0.9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.settings-block::before {
  content: "";
  position: absolute;
  right: 35px;
  width: 40px;
  height: 19px;
  top: calc(50% - 9.5px);
  border-radius: 25px;
  background-color: #fff;
  opacity: 0.7;
  z-index: 2;
}

.settings-block.active::after {
  opacity: 1;
  right: 40px;
  background-color: #a79644;
}

.settings-block.active::before {
  opacity: 1;
}

.settings-icon {
  position: relative;
  z-index: 6;
  background-image: url("../assets/img/svg/settings.svg");
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  -o-transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.settings-icon:hover {
  opacity: 1;
}

.settings-icon.active {
  -webkit-transform: rotate(-115deg) scale(1.1);
      -ms-transform: rotate(-115deg) scale(1.1);
          transform: rotate(-115deg) scale(1.1);
}

.todo-list {
  overflow: hidden;
  overflow-y: visible;
}

.todo-item {
  display: block;
  position: relative;
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
  font-size: 20px;
  word-wrap: break-word;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.todo-item::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #a79644;
  border-radius: 3px;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.todo-item::after {
  color: #000;
  content: "";
  width: 20px;
  height: 20px;
  background: #a79644;
  background-size: contain;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.todo-item:hover::after {
  content: "";
  opacity: 0.2;
}

.todo-item.done {
  text-decoration: line-through;
  color: #5c5c5c;
}

.todo-item.done::after {
  opacity: 1;
  width: 16px;
  height: 18px;
  left: 2px;
  top: 0px;
  content: "\2713";
}

.todo-item.done:hover {
  color: #6e6e6e;
}

.todo-item.done:hover::after {
  opacity: 0.8;
}

.todo-icon {
  position: relative;
  z-index: 6;
  background-image: url("../assets/img/todolist.png");
  width: 32px;
  height: 40px;
  border-radius: 10px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  -o-transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.todo-icon:hover {
  opacity: 1;
}

.todo-icon.active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.todo-icon.hide {
  visibility: hidden;
  opacity: 0;
}

.todo-wrap {
  position: absolute;
  bottom: 0px;
  right: 55px;
  width: 300px;
  height: 430px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 0.3s, visibility 0.3s, bottom 0.5s;
  -o-transition: opacity 0.3s, visibility 0.3s, bottom 0.5s;
  transition: opacity 0.3s, visibility 0.3s, bottom 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  padding: 80px 20px 20px 20px;
}

.todo-wrap.active {
  bottom: 60px;
  visibility: visible;
  opacity: 1;
}

.todo-wrap.hide {
  visibility: hidden;
  opacity: 0;
}

.todo-container {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.todo-main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo-input {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  border: 0;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.todo-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.todo-input::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}

.todo-input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.todo-input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

.todo-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.todo-input-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.todo-input.error {
  -webkit-box-shadow: 0px 0px 1px 1px #aa2d2d;
          box-shadow: 0px 0px 1px 1px #aa2d2d;
}

.todo-error {
  display: none;
  padding: 2px;
  width: 100%;
  background-color: #aa2d2d;
  -webkit-box-shadow: 0px 0px 1px 1px #aa2d2d;
          box-shadow: 0px 0px 1px 1px #aa2d2d;
}

.todo-input.error ~ .todo-error {
  display: block;
}

.todo-tittle {
  font-size: 25px;
}

.todo-focus {
  width: 30px;
  height: 40px;
}

.todo-delete {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #c5b358;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.todo-delete-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.todo-delete-wrap .todo-delete {
  width: 0;
}

.todo-delete-wrap.active {
  width: auto;
}

.todo-delete-wrap.active .todo-delete {
  width: auto;
}

.todo-delete.close {
  font-size: 18px;
}

.todo-delete:hover {
  color: #fff;
}

.todo-delete.first.active {
  width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
}

.todo-controlls {
  position: absolute;
  top: -60px;
  left: 0;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.todo-controlls-trash {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../assets/img/svg/trash.svg");
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 3px;
  width: 20px;
  height: 22px;
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  -o-transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s;
  transition: opacity 0.3s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  visibility: hidden;
  opacity: 0;
}

.todo-item.done:hover > .todo-controlls-trash {
  visibility: visible;
  opacity: 0.7;
}

.todo-item.done > .todo-controlls-trash {
  visibility: visible;
  opacity: 0.1;
}

.todo-item.done > .todo-controlls-trash:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.github-icon {
  width: 40px;
  background-image: url("../assets/img/svg/github.svg");
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.github-icon:hover {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.205);
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.overlay.active {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  visibility: visible;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }

  35% {
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }

  70% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }

  35% {
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }

  70% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes print {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes print {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes move-left {
  0% {
    margin-left: 0;
  }

  40% {
    margin-left: -200px;
  }

  41% {
    margin-left: 100000px;
  }

  42% {
    margin-left: 200px;
  }

  80% {
    margin-left: 0;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes move-left {
  0% {
    margin-left: 0;
  }

  40% {
    margin-left: -200px;
  }

  41% {
    margin-left: 100000px;
  }

  42% {
    margin-left: 200px;
  }

  80% {
    margin-left: 0;
  }

  100% {
    margin-left: 0;
  }
}

@media (max-width: 1452px) {
  ._container {
    padding: 0 20px;
  }
}

@media (max-width: 1070px) {
  ._container {
    max-width: 1024px;
  }
}

@media (max-width: 768.98px) {
  ._container {
    max-width: 768px;
  }

  .play-list {
    height: 0;
  }

  .play-list.active {
    height: 100px;
  }

  .play-item {
    font-size: 14px;
  }

  #soundVolume {
    display: none;
  }

  .track-name {
    font-size: 16px;
  }

  .duration-timer {
    margin: 0px 0px 0px 5px;
  }

  .weather.russian {
    max-width: 120px;
    min-height: 150px;
  }

  .weather {
    max-width: 120px;
    min-height: 150px;
  }

  .weather-icon {
    font-size: 40px;
  }

  .city {
    padding: 3px;
    font-size: 16px;
  }

  .city::-webkit-input-placeholder {
    font-size: 16px;
  }

  .city::-moz-placeholder {
    font-size: 16px;
  }

  .city:-ms-input-placeholder {
    font-size: 16px;
  }

  .city::-ms-input-placeholder {
    font-size: 16px;
  }

  .city::placeholder {
    font-size: 16px;
  }

  .temperature::before {
    display: block;
    opacity: 0.8;
  }

  .temperature {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
  }

  .wind::before {
    display: block;
    opacity: 0.8;
  }

  .wind {
    font-size: 17px;
  }

  .humidity::before {
    display: block;
    opacity: 0.8;
  }

  .humidity {
    font-size: 17px;
  }

  .weather-description {
    font-size: 16px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
    font-family: "Arial", serif;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-family: "Arial", serif;
    font-size: 32px;
    padding: 5px;
  }
}

@media (max-width: 768px) and (max-width: 479.98px) {
  .greeting-container {
    font-size: 28px;
  }

  .name {
    font-size: 28px;
  }
}

@media (max-width: 768px) and (max-width: 360.98px) {
  .greeting-container {
    font-size: 25px;
  }

  .name {
    font-size: 25px;
  }
}

@media (max-width: 479.98px) {
  body {
    background-size: auto 100%;
    background-blend-mode: multiply;
    -webkit-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
  }

  ._container {
    max-width: 420px;
  }

  .header {
    padding: 10px;
  }

  .player-controls {
    min-width: 88px;
  }

  .play-item {
    white-space: pre;
  }

  .item-active {
    -webkit-animation: move-left 12s linear infinite;
            animation: move-left 12s linear infinite;
  }

  .player-icon,
  .slider-icon,
  .change-quote {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }

  .play {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }

  .player {
    max-width: 150px;
    overflow: hidden;
  }

  .volume-player {
    width: 24px;
  }

  .volume-player:hover {
    width: 24px;
  }

  .track-name {
    font-size: 14px;
    text-align: left;
    white-space: pre;
    -webkit-animation: move-left 12s linear infinite;
            animation: move-left 12s linear infinite;
  }

  .duration-timer {
    font-size: 14px;
  }

  #timer {
    margin: 0px 2px 0px 0px;
  }

  #duration {
    margin: 0px 0px 0px 2px;
  }

  .weather.russian {
    max-width: 110px;
    min-height: 130px;
  }

  .weather {
    max-width: 110px;
    min-height: 130px;
  }

  .weather-icon {
    font-size: 30px;
  }

  .city {
    height: 20px;
    padding: 1px;
    font-size: 14px;
  }

  .city::-webkit-input-placeholder {
    font-size: 14px;
  }

  .city::-moz-placeholder {
    font-size: 14px;
  }

  .city:-ms-input-placeholder {
    font-size: 14px;
  }

  .city::-ms-input-placeholder {
    font-size: 14px;
  }

  .city::placeholder {
    font-size: 14px;
  }

  .temperature::before {
    top: -5px;
    left: -35px;
    width: 22px;
    height: 22px;
    opacity: 1;
  }

  .wind::before {
    top: -5px;
    left: -36px;
    width: 28px;
    height: 28px;
    opacity: 1;
  }

  .humidity::before {
    top: -3px;
    left: -35px;
    width: 20px;
    height: 20px;
    opacity: 1;
  }

  .footer-body {
    max-width: 250px;
  }
}

@media (max-width: 418.98px) {
  .player {
    max-width: 122px;
  }

  .time {
    font-size: 64px;
  }

  .footer-body {
    max-width: 200px;
  }
}

@media (max-width: 360.98px) {
  ._container {
    max-width: none;
  }

  .header {
    min-height: 195px;
  }

  .play-list.active {
    height: 70px;
  }

  .track-name {
    height: auto;
    margin: 4px 0px 0px;
  }

  .weather.russian {
    max-width: 70px;
    overflow: hidden;
  }

  .weather {
    max-width: 70px;
    overflow: hidden;
  }

  .city-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .weather-description {
    display: none;
  }

  .time {
    font-size: 58px;
  }

  .footer-body {
    max-width: 120px;
    min-width: 120px;
  }

  .footer__logo {
    display: none;
  }
}